In [1]:
# Assignment Question of DAY 1


x = input("Enter the value of number").split()
print(x)
y =[]
for i in x:
  y.append(int(i))
print(y)   
sum = 0
for i in y:
  sum = sum + i

print(sum)

Enter the value of number10 20 30 40 50
['10', '20', '30', '40', '50']
[10, 20, 30, 40, 50]
150

In [2]:
x = input("Enter the value of number").split()
print(x)
y =[]
for i in x:
  y.append(int(i))
print(y)   
mutiply = 1
for i in y:
  mutiply = mutiply * i

print(mutiply)

Enter the value of number10 20 30
['10', '20', '30']
[10, 20, 30]
6000

In [5]:
x = input("Enter the value of number").split()
print(x)
y =[]
for i in x:
  y.append(int(i))
print(y)   
sub = 1000
for i in y:
  sub = sub - i

print(sub)

Enter the value of number500 54
['500', '54']
[500, 54]
446

In [6]:
x= input("Enter the value of number ")
y = x.split()
print (y)

Enter the value of number 45 25
['45', '25']